body{
	width: 100%;
	margin: 0 ; 
	padding: 0; 
	height: 10000px;
	color: white;
	background:  #24292e;
}

header{
	background:  #1d2125;
    margin: 0px auto;
	border: 4px solid white;
	text-align: center;
}

content{
	display: block;
	border-style: solid;
	border-color: red;
	background:  #24292e;
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	height: 100%;
}

footer{
	background:  #24292e;
}
.sad{
	width: 60%;
	border: 1px solid black;
}
.le1 {
	border: 1px solid black;
    width: 60%; 
    text-align: left;
	
}
.ri1 {
	border: 1px solid black;
	width: 40%;
	text-align: right;
}

#maket {
	height: 5vw;
    width: 100%;
    margin: 0px auto;
    background:  rgb(36, 41, 46);
}

#menu {
    font-size: 1vw;
    min-height: 40px;
    z-index: 1001;
    background:  rgb(29, 33, 37);
	margin: 0;
	border: 1px solid black;
}
.fixed-menu {
	border: 1px solid black;
	/* height: 40px; */
	position: fixed;
	float: center;
	top:0;
	/*left: -20px;*/
	width: 100%;
/*	min-width: 900px;*/
}