.rightimg{
	float: right;
	width: 40%;
	margin: 6px;
}

h5{
	margin: 0 auto;
}
hr{
	color: #808080;
	width: 95%;
}
#line {
    height: 220px;
    float: left;
    margin-right: 10px;
    width: 0.5px;
    border-left: 2px solid white;
}
#line1 {
    height: 60px;
    float: left;
    margin-right: 10px;
    width: 0.5px;
    border-left: 2px solid white;
}
#line2 {
    height: 80px;
    float: left;
    margin-right: 10px;
    width: 0.5px;
    border-left: 2px solid white;
}
.table{
	padding: 10px;
}